h1 {
    padding: 20px;
    text-align: center;
    color: #0d6efd;
}

h3 {
    margin-top: 5px;
    color: #0d6efd;
}

h5 {
    margin-top: 15px;
    color: #0d6efd;
}

.todoAciklamalari {
    margin-left: 15px;
    margin-bottom: 5px;
}

.row {
    margin-bottom: 20px;
}
